.scrolling-active {
    background-color: rgb(2, 2, 2);
    box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}


/* this is for scroll effect */


/* .current::after {

    height: 2.5px;
    width: 100%;
    background-color: #f9004d; */


/* position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 3px;
    background: #f8004a;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    bottom: 0;
} */

.current {
    background: #f9004d;
    padding: 10px;
    color: #fff;
}

.current a {
    color: #fff;
}

@media (max-width:700px) {
    .current {
        background: transparent;
        padding: 0;
        color: #fff;
    }
    .current a {
        color: #f9004d;
    }
}


/* #show {
    right: 0;
} */


/* html {
    scroll-behavior: smooth;
} */


/* .navigation-icon {
    width: 2.5rem;
    height: 2.5px;
    background-color: #333;
    background-color: #fff;
    display: inline-block;
    transition: all 0.4s;
}

.navigation-icon::after {
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 2px;
    background-color: #333;
    background-color: #fff;
    display: inline-block;
    transition: all 0.4s;
}

.navigation-icon::before {
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 2px;
    background-color: #333;
    background-color: #fff;
    display: inline-block;
    transition: all 0.4s;
} */